:root {
  --regular: 'Founders Grotesk-Regular';
  --medium: 'Founders Grotesk-Medium';
  --bold: 'Founders Grotesk-Bold';
  --spacing: -0.4px;
  --hover: .3s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
  font-synthesis: none;
  text-decoration: none;
  
}

::-webkit-scrollbar {
  width: 0px;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

body {
  background: #101010;
  color: #ffffff;
}

.App {
  height: 100%;
  width: 100%;
  letter-spacing: var(--spacing);
}

.material-symbols-outlined {
  cursor: pointer;
  transform: var(--hover);
}

.material-symbols-outlined:hover {
  color: #7fffd4;
  transform: var(--hover);
}

.property_btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#property_button {
    background: #483d8b;
    color: #f0f8ff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    font-weight: 700;
    letter-spacing: -.7px;
    padding: 8px;
    position: static;
    transition: .3s ease-in-out;

}

#property_button:hover {
    background: #7fffd4;
    color: #000000;
    transition: .3s ease-in-out;
}


@media screen and (max-width: 779px) {
  .App {
    flex-direction: column;
  }
}