.violations_container {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.violations_header { 
    width: -webkit-fill-available;
    letter-spacing: var(--spacing);
    display: flex;
    align-items: center;
    background: #101010;
    word-wrap: break-word;
    color: #fff;
    z-index: -1;
    font-size: 19px;
    padding: 10px;
    position: fixed;
    font-family: var(--medium);
    text-transform: uppercase;
    top: 65px;
    z-index: 1;
}

.violations_results {
    height: auto;
    width: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 95px;
    z-index: -1;
}

.violations_display {
    margin: 5px 10px;
    height: auto;
    width: 100%;
    padding: 10px 10px 0px 10px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    letter-spacing: -.5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: var(--medium);
}

.violations_display button {
    border: none;
    outline: none;
    background: #7fffd4;
    color: #000;
    padding: 5px;
    cursor: pointer;
    letter-spacing: -.5px;
    border-radius: 5px;
    transition: .3s ease-in-out;
    font-family: var(--medium);
}

.violations_display button:hover {
    background: #483d8b;
    color: #ffffff;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 790px) {
    .violations_header.active {
        z-index: -1;
    }

    .violations_results {
       /* margin-top: 10px; */
    }
}

/* @media screen and (max-width: 485px) {

} */